.dot-popup {
	position: absolute;
	background-color: #000;
	color: white;
	opacity: 0.8;
	border-radius: 5px;
	padding: 5px;
	font-family: Helvetica,Arial,Sans-Serif;

	h4 {
		margin: 0;
		padding: 3px 0;
	}

	div {
		font-size: 12px;
		padding: 3px;
	}
}
